
        body{
            font-family: 'Helvetica Neue', Helvetica, Arial;
        }

        #wrapper{
            
            margin:0 auto;
        }

        h6 {
            font-size: 1.3rem;
            padding-left: 1rem;
        }
        .hfontcolor{
            color: #F05454;
        }
        p {
            padding-left: 2rem;
        }

        a {
            font-family: Raleway;
            text-decoration: none;
            font-weight: 700;
        }

        ul {
            list-style-type: none;
        }

        span {
            font-weight: bold;
        }

        img {
            max-height: 20rem;
        }

        .vurgu>a {
            text-decoration: underline;
            color: #588B8B;
        }

        .vurgula {
            text-decoration: none;
            color: #F28F3B;
        }

        img {
            width: 100%;
            max-width: 100%;
            max-height: 50%;
        }

        .colorMediumDiv {
            background-color:#354973;
            color: #fff;
            display: inline-flex;
        }
        .colorMediumDiv p, .motto{
            line-height: 1.45;
        }
        .mediumDiv {
            max-width: 55%;
            padding: 5%;
        }
        .mediumDivRight {
            max-width: 30%;
            padding:5% 5% 5% 0;
        }
        .mediumDiv h2{
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .topDiv{
            color: #333;
            width: 70%;
            margin: 0 auto;
            padding: 2rem 1rem;
        }
        .topDiv.topDiv2{
            width: 100%;
            display: inline-flex;
        }
        .topDiv h1{
            font-size: 4rem;
            line-height: 5rem;
        }
        .topDiv h2{
            font-size: 3rem;
            line-height: 4rem;
        }
        .topDiv p{
            font-size: 2.2rem;
            line-height: 1.45;
        }
        .textcenter{
            text-align: center;
        }
        .topDiv2In{
            width: 60%;
            padding: 5%;
        }
        .topDiv2InRight{
            width: 20%;
            padding: 5% 5% 5% 0%;
        }
        .topDiv2InRight span{
            display: block;
            margin-top: 3.5rem;
        }

        /*İletişim sayfası Başla*/
        .map
        {
            
        }
        iframe{
            width: 100%;
            height: 60vh;
        }
        .address{
            margin-top: 1.6rem;
        }

         #contactForm ul{
            margin-top: 1rem;
         }

         #contactForm ul li{
            margin-top: .6rem;
        }
        #contactForm ul li input{
            border: 1px solid black!important;
            padding: .5rem;
            width: 60%;
        }
        #contactForm ul li:first-child input{}
        #contactForm ul li textarea {width: 80%;padding: .5rem;}
        #contactForm ul li button{
        }
        /*İletişim sayfası Bitir*/
        footer{
            height: 100px;
        }